node_modules
/packages
/node_modules
.o
.pyc
.class
/bin
/out
/target
.log
.lock
.tmp
.DS_Store
Thumbs.db
.idea/workspace.xml
/logs
/logs/debug.log
.xml
.txt
*.log
temp/
.Thumbs
.git/info/exclude
/log.file
/name/log.file
/name.file